{
  "extends": [
    "airbnb-base",
    "plugin:meteor/recommended"
  ],
  "plugins": [
    "meteor"
  ],
  "env": {
    "meteor": true
  },
  "settings": {
    "import/resolver": "meteor"
  },
  "parser": "babel-eslint",
  "globals": {
    "Meteor": true,
    "it": true,
    "describe": true,
    "beforeEach": true,
    "afterEach": true
  },
  "rules": {
    "comma-dangle": [
      0
    ],
    "indent": [
        2,
        4,
        {
          "SwitchCase": 1
        }
    ],
    "import/extensions": [
      "off",
      "never"
    ],
    "no-underscore-dangle": 0,
    "no-console": 0,
    "one-var-declaration-per-line": 0,
    "one-var": 0
  }
}
