# IDE
.idea
.vscode

# Git
.git
.gitignore

# Test & Development tools
.meteor
.meteorignore
.eslintrc
package.json
package-lock.json
test
appveyor.yml
.travis.yml
node_modules
npm-debug.log
.coverage